<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/974a6748c3.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Spectral+SC:wght@200;300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/din-alternate" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/din-pro-cond" rel="stylesheet">
    <link rel="stylesheet" href="../../../css/index.css" />
    <link rel="stylesheet" href="../../../css/header.css" />
    <link rel="stylesheet" href="../../../css/home.css" />
    <link rel="stylesheet" href="../../../css/hexagon.css" />
    <link rel="stylesheet" href="../../../css/footer.css" />
    <link rel="icon" href="../../public/assets/fav.ico">
    <title>Teknik Ingenieria y Diseño</title>
    
</head>
<body>

    <%- include ('../partials/header.ejs') %>

    <main>
        <section id="banner">
            <div id="forms">
                <div id="circle">
                </div>
                <div id="hexagons">
                    <div class="hexagon">
                        <img class="hexagon-img" src="/assets/banner/imag1.jpeg" alt="img">
                    </div>
                    <div class="hexagon">
                        <img class="hexagon-img" src="/assets/banner/imag2.jpeg" alt="img">
                    </div>
                    <div class="hexagon">
                        <img class="hexagon-img" src="/assets/banner/imag3.jpeg" alt="img">
                    </div>
                    <div class="hexagon">
                        <img class="hexagon-img" src="/assets/banner/imag4.jpeg" alt="img">
                    </div>
                    <div class="hexagon">
                        <img class="hexagon-img" src="/assets/banner/imag5.jpeg" alt="img">
                    </div>
                    <div class="hexagon">
                        <img class="hexagon-img" src="/assets/banner/imag6.jpeg" alt="img">
                    </div>
                    <div class="hexagon">
                        <img class="hexagon-img" src="/assets/banner/imag7.jpeg" alt="img">
                    </div>
                </div>
            </div>
            <div id="text">
                <p>We are specialists in structural desing and analysis_</p>
                <div class="dossierDownload">
                    <a  class="dossierDownload" href="../assets/dossier.pdf" download="dossier">
                        DOWNLOAD OUR DOSSIER
                    </a>
                </div>
            </div>
        </section>

        <section class="about">
            <div class="about">
                <p class="text-ligth">We are a highly specialised team of professionals, passionate about structure and geotechnical projects. <br>We fervently believe that the coordination of the different areas involved are key to obtain harmonious and efficient results.<br>Under constant updating and training, we use cutting-edge technologies aim to provide the best solution for your project.</p>
                <p class="text-heavy">Our <span>VISION</span> is committed to reinforce the role of the structure within architecture as a configurator of the space, not merely a support.</p>
            </div>
            <div class="about">
                <h2>OUR PRESENCE IN THE WORLD</h2>
                <img id="map-img" src="../assets/map.png" alt="img"/>
            </div>
            <div class="about">
                <h2>OUR TEAM</h2>
                <ul id="team-list">
                    <% teamMembers.forEach((teamMember) => { %>
                    <li class="team-item">
                        <h4><%= teamMember.name %><br><span><%= teamMember.type %></span></h4>
                        <h5><%= teamMember.position %></h5>
                        <a id="our-linkedIn" href="linkanjsldckhlaskud"><%= teamMember.linkedin %></a>
                    </li>
                    <% }); %>
                </ul>
            </div>

        </section>

    </main>

    <%- include ('../partials/footer.ejs') %>
</body>
</html>