<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
        <link rel="stylesheet" href="/css/home/home.css" />
        <link rel="stylesheet" href="/css/home/hexagon.css" />
        <link rel="stylesheet" href="/css/home/premises.css" />
        <link rel="stylesheet" href="/css/home/about.css" />
</head>

<body>

    <%- include ('../partials/header.ejs') %>
        <main>
            <section id="banner">
                <p>We are specialists in structural desing and analysis_</p>
                <div id="banner-download">
                    <h3>DOWNLOAD OUR DOSSIER</h3>
                    <div id="banner-download-items">
                        <div><a href="/assets/dossier-Teknik-23-ENG.pdf" download="dossier">EN</a></div>
                        <div><a href="/assets/dossier-Teknik-22-ESP.pptx.pdf" download="dossier">ES</a></div>
                        <div><a href="/assets/dossier_Teknik_22_ITA.pdf" download="dossier">IT</a></div>
                    </div>
                </div>


                <div id="banner-mobile">
                    <div id="hexagons">
                        <div class="hexagon">
                            <img class="hexagon-img" src="/assets/home/banner/imag1.jpeg" alt="img">
                        </div>
                        <div class="hexagon">
                            <img class="hexagon-img" src="/assets/home/banner/imag2.jpeg" alt="img">
                        </div>
                        <div class="hexagon">
                            <img class="hexagon-img" src="/assets/home/banner/imag3.jpeg" alt="img">
                        </div>
                        <div class="hexagon">
                            <img class="hexagon-img" src="/assets/home/banner/imag4.jpeg" alt="img">
                        </div>
                        <div class="hexagon">
                            <img class="hexagon-img" src="/assets/home/banner/imag5.jpeg" alt="img">
                        </div>
                        <div class="hexagon">
                            <img class="hexagon-img" src="/assets/home/banner/imag6.jpeg" alt="img">
                        </div>
                        <div class="hexagon">
                            <img class="hexagon-img" src="/assets/home/banner/imag7.jpeg" alt="img">
                        </div>
                    </div>
                </div>

                <div id="banner-desktop">
                    <div id="banner-desktop-img">
                        <img src="/assets/home/carousel/CLT-Modeling.png" alt="imgBanner" />
                    </div>
                </div>
            </section>

            <section id="premises">
                <h1>WHY CHOOSE US?</h1>
                <ul class="premises-list">
                    <% premises.forEach ((premise)=> { %>
                        <li class="premises-list-item">
                            <div><img src="<%= premise.img %>" alt="service image" /></div>
                            <div>
                                <h2>
                                    <%= premise.name %>
                                </h2>
                                <p>
                                    <%= premise.description %>
                                </p>
                            </div>
                        </li>
                        <% }); %>
                </ul>
            </section>

            <section id="about">
                <p>Our <span id="about-vision">VISION</span> is committed to reinforce the role of the structure
                    within architecture as a configurator of the space, not merely a support.</p>
                <h1>OUR PRESENCE IN THE WORLD</h1>
                <img id="about-map-img" src="/assets/home/map.png" alt="mapImg" />
                <h1>OUR TEAM</h1>
                <ul id="about-team">
                    <% teamMembers.forEach((teamMember)=> { %>
                        <li class="about-team-member">
                            <p>
                                <%= teamMember.name %><br><span>
                                        <%= teamMember.type %>
                                    </span>
                            </p>
                            <p style="font-weight: lighter;">
                                <%= teamMember.position %>
                            </p>
                            <a id="about-team-member-linkedIn" href="<%= teamMember.linkedin %>">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </li>
                        <% }); %>
                </ul>

            </section>

        </main>

        <%- include ('../partials/footer.ejs') %>
            <%- include ('../partials/script.ejs') %>
                <%- include ('../partials/scriptHome.ejs') %>


</body>

</html>