<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
        <link rel="stylesheet" href="/css/portfolio.css" />
</head>

<body>

    <%- include ('../partials/header.ejs') %>
        <main>
            <ul id="portfolio-mobile">
                <% projects.forEach ((project)=> { %>
                    <li class="portfolio-mobile-project">
                        <a class="portfolio-mobile-project-a" href="/portfolio/<%= project.id %>">
                            <img src="<%= project.coverImg %>" alt="" />
                            <div class="portfolio-mobile-project-objetive">
                                <%= project.objetive %>
                            </div>
                        </a>
                    </li>
                    <% }); %>
            </ul>

            <ul id="portfolio-desktop">
                <% projects.forEach ((project)=> { %>
                    <li class="portfolio-desktop-project">
                        <a class="portfolio-desktop-project-a" href="/portfolio/<%= project.id %>">
                            <img src="<%= project.coverImg %>" alt="" />
                            <div class="portfolio-desktop-project-title">
                                <%= project.name %>
                            </div>
                            <div class="portfolio-desktop-project-objetive">
                                <%= project.objetive %>
                            </div>
                        </a>
                    </li>
                    <% }); %>
            </ul>
        </main>
        <%- include ('../partials/footer.ejs') %>
            <%- include ('../partials/script.ejs') %>
</body>

</html>