<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
        <link rel="stylesheet" href="/css/project.css" />
</head>

<body>
    <%- include ('../partials/header.ejs') %>

        <main>

            <section class="project-text">
                <h1>
                    <%= project.name %>
                </h1>
                <p>Client: <span>
                        <%= project.client%>
                    </span></p>
                <p>
                    Objetive: <span>
                        <%= project.objetive %>
                    </span>
                </p>
                <p>
                    <%= project.description %>
                </p>
                <a id='backHome' href="/portfolio"><i class="fa-solid fa-angle-left"></i>Back</a>
            </section>

            <section class="project-gallery">
                <% project.images.forEach ((img)=> { %>
                    <div>
                        <img src="<%=img%>" alt="image" />
                    </div>
                    <% }); %>

            </section>



        </main>

        <%- include ('../partials/footer.ejs') %>
            <%- include ('../partials/script.ejs') %>
                <%- include ('../partials/scriptProject.ejs') %>


</body>

</html>