<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/974a6748c3.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Spectral+SC:wght@200;300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/din-alternate" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/din-pro-cond" rel="stylesheet">
    <link rel="stylesheet" href="../../../css/index.css" />
    <link rel="stylesheet" href="../../../css/header.css" />
    <link rel="stylesheet" href="../../../css/services.css" />
    <link rel="stylesheet" href="../../../css/footer.css" />
    <link rel="icon" href="../../public/assets/fav.ico">
    <title>Teknik Ingenieria y Diseño</title>
    
</head>
<body>
    <%- include ('../partials/header.ejs') %>
    <main>
    <p class="text-ligth" id="services-p-mobile" >Our interdisciplinary team is committed to provide technical solutions to your projects.</p>
    <p class="text-ligth" id="services-p-desktop" >Our interdisciplinary team is committed to provide technical solutions to your projects.<br>Characterized by constant improvement in structural design, expedition and detail orientation with BIM implementation.<br>Technique, efficiency and experience are the bases of our work.</p>
    <h2>our solutions to your business</h2>
    <ul class="services">
        <% services.forEach ((service) => { %>
        <li class="service">
            <img src= "<%= service.img %>" alt="service image"/>
            <div>
                <h3><%= service.name %></h3>
                <p class="text-ligth"><%= service.description %></p>
            </div>
        </li>
        <% }); %>
    </ul>

    <h2>why choose us?</h2>
    <ul class="premises">
        <% premises.forEach ((premise) => { %>
        <li class="premise">
            <img src= "<%= premise.img %>" alt="service image"/>
            <h4><%= premise.name %></h4>
            <p class="text-ligth"><%= premise.description %></p>
        </li>
        <% }); %>
    </ul>

    </main>
    <%- include ('../partials/footer.ejs') %>
</body>
</html>