<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
        <link rel="stylesheet" href="/css/services.css" />
</head>

<body>
    <%- include ('../partials/header.ejs') %>
        <main>
            <p id="services-mobile">Our interdisciplinary team is committed to provide technical
                solutions to your projects.</p>
            <p id="services-desktop">Our interdisciplinary team is committed to provide technical
                solutions to your projects.<br>Characterized by constant improvement in structural design, expedition
                and detail orientation with BIM implementation.<br>Technique, efficiency and experience are the bases of
                our work.</p>

            <h1>our solutions to your business</h1>

            <section id="services">
                <% services.forEach ((service)=> { %>
                    <ul class="services">
                        <h2>
                            <%= service.name%>
                        </h2>
                        <p>
                            <%= service.other%>
                        </p>
                        <% service.description.forEach ((item)=> { %>
                            <li><i class="fa-solid fa-caret-right"> </i>
                                <%= item %>
                            </li>
                            <% }); %>

                                <div class="services-gallery">
                                    <% service.images.forEach ((img)=> { %>
                                        <div><img src="<%=img%>" alt="service image" /></div>
                                        <% }); %>
                                </div>
                    </ul>
                    <% }); %>

                        <div id="services-others" class="services">
                            <h2>You can also consult us for other services</h2>
                            <p class="services-others"><i class="fa-solid fa-caret-right"> </i> Structures surveys and
                                pathological analyses: <span>destructive and non destructive tests.</span>
                            </p>
                            <p class="services-others"><i class="fa-solid fa-caret-right"> </i> Geotechnical studies:
                                <span>soil studies, determination of geophysical and geomechanical parameters and
                                    foundation typologies.</span>
                            </p>
                            <p class="services-others"><i class="fa-solid fa-caret-right"> </i> Topographic surveys:
                                <span>topographical surveys with high tech equipment. We also provide our services for
                                    the control of levels in medium or high scale architectural projects.</span>
                            </p>
                        </div>
            </section>


        </main>
        <%- include ('../partials/footer.ejs') %>
            <%- include ('../partials/script.ejs') %>
</body>



</html>